{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#  <meta charset="utf-8">#}
{#  <title>{% block title %}Django Simple Login{% endblock %}</title>#}
{#</head>#}
{#<body>#}
{#  <header>#}
{#    <h1>Django Simple Login</h1>#}
{#    {% if user.is_authenticated %}#}
{#      Hi {{ user.username }}!#}
{#      <a href="{% url 'logout' %}">logout</a>#}
{#    {% else %}#}
{#      <a href="{% url 'login' %}">login</a>#}
{#    {% endif %}#}
{#  </header>#}
{#  <hr>#}
{#  <main>#}
{#    {% block content %}#}
{#    {% endblock %}#}
{#  </main>#}
{#  <hr>#}
{##}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Billboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!---->
<!--<script-->
  <!--src="https://code.jquery.com/jquery-3.1.1.min.js"-->
  <!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
  <!--crossorigin="anonymous">-->
  <!--</script>-->
    {% load static %}
    <link rel= "stylesheet" type= "text/css" href= "{% static 'billboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One" rel="stylesheet">
</head>
<body>

 <div class="container">
        <div class= "row">
            <h1 class="billboard-title" >BILLBOARD</h1>
        </div>
    </div>


    {% block content %}

    {% endblock %}

    {% block register %}
    {% endblock %}

    {%  block login %}
    {% endblock %}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="{% static 'billboard.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>